
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: 'digital-calculator-font';
    src: url('./media/font/digital-7/digital-7\ \(mono\).ttf');
}

.container {
    width: 300px;
    height: 400px;
    padding: 3px;
    margin: 10px;
    border: 3px solid black;
    background-color: grey;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    border-radius: 5%;
    border: 2px solid black;
    background-color: white;
}

    .display>.main {
        display: flex;
        height: 50%;
        align-items: center;
        justify-content: right;
        font-family: 'digital-calculator-font';
        font-size: 5em;
        color: black;
    }

.buttons {
    display: flex;
    flex-direction: column;
    height: 75%;
}

    .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 1;
    }

        .btn {
            flex: 1;
            border-radius: 25%;
            margin: 1px;
            font-size: 20px;
            max-width: 25%;
        }

            .operator {
                background-color: orange;
            }

            .number {
                background-color: lightgrey;
            }

            .other {
                background-color: darkcyan;
            }